astroid==2.15.5
autopep8==2.0.2
Brotli==1.0.9
dill==0.3.6
inflate64==0.3.1
isort==5.12.0
lazy-object-proxy==1.9.0
mccabe==0.7.0
multivolumefile==0.2.3
platformdirs==3.5.3
psutil==5.9.5
py7zr==0.20.5
PyAutoGUI==0.9.54
pybcj==1.0.1
pycodestyle==2.10.0
pycryptodomex==3.18.0
pylint==2.17.4
pyppmd==1.0.0
pyzstd==0.15.8
texttable==1.6.7
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.8
typing_extensions==4.6.3
wrapt==1.15.0